$arial: Arial, Helvetica, sans-serif;
$roboto: Roboto, "Helvetica Neue", sans-serif;
$segoeUI: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
$slugrFont: "Fredoka One", cursive;