#date-form{
  background-color: #0e343d;
}

ngb-dp-header {
  background-color: #18445c!important;
  border-bottom: 0;
  border-radius: 0 0 0 0 !important;
  padding-top: .25rem;
}

#page-content-wrapper{
  background-color:#012b36!important;
}


#sidebar-contianer {
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
}



